<div class="row">
    <!-- <app-sidebar-navigation></app-sidebar-navigation> -->
  <div class="col-sm-8 profile-details">
    <div class="order-summary-wrapper form-content">
    <app-recipient-information></app-recipient-information>
  </div>
  <div class="order-items form-content">
    <app-order-line-items></app-order-line-items>
  </div>
  <div class="submit-order form-content text-right">
    <button type="button" class="btn btn-secondary mx-5" id="addrow">Cancel</button>
    <button type="button" class="btn btn-primary mx-5" id="addrow" routerLink="/shipment-details">Save Order</button>
  </div>
</div>
</div>