<div class="form-wrapper">
<h4>Recipient Information</h4>
<form #shipmentForm="ngForm" (ngSubmit)="saveShipment()">
<div class="form-group row">
            <div class="col-sm-6">
                <label for="pickupAddr" class=" col-form-label text-right">Pickup Address<span class="red-astrik">*</span></label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="pickupAddr" 
                    placeholder="pickup address" 
                    [(ngModel)] = "pickupAddr" 
                    name="pickupAddr" 
                    #pickAddr="ngModel"
                    disabled
                    required/>
                <span class="error-field" *ngIf="pickAddr.invalid && pickAddr.touched">Please enter valid pickup address</span>
            </div>

            <div class="col-sm-6">
                <label for="dropofAddr" class=" col-form-label text-right">Drop Address<span class="red-astrik">*</span></label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="dropofAddr" 
                    placeholder="Delivery address" 
                    [(ngModel)]="dropofAddr"
                    name="dropofAddr" 
                    #dropAddr="ngModel"
                    required />
                <span class="error-field" *ngIf="dropAddr.invalid && dropAddr.touched">Please enter valid drop address</span>
            </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <h4>Package Dimension</h4>
    </div>
    <div class="col-sm-12">
    <div class="row">
    <div class="col-sm-4">
        <label for="packWidth" class=" col-form-label text-right">Width (in)<span class="red-astrik">*</span></label>
        <input 
            type="number" 
            class="form-control" 
            id="packWidth" 
            value="1" 
            [(ngModel)] ="packWidth"
            
            #palateWidth="ngModel"
            required />
        <span class="error-field" *ngIf="palateWidth.invalid && palateWidth.touched">Please enter valid palate width</span>
    </div>

    <div class="col-sm-4">
        <label for="packHeight" class=" col-form-label text-right">Height (in)<span class="red-astrik">*</span></label>
        <input 
            type="number" 
            class="form-control" 
            id="packHeight" 
            value="1"
            [(ngModel)]="packHeight"
            #palateHeight="ngModel"
            required />
        <span class="error-field" *ngIf="palateHeight.invalid && palateHeight.touched">Please enter valid palate height</span>
    </div>
    <div class="col-sm-4">
        <label for="packLength" class=" col-form-label text-right">Length (in)<span class="red-astrik">*</span></label>
        <input 
            type="number" 
            class="form-control" 
            id="packLength" 
            value="1"
            [(ngModel)]="packLength" 
            #palateLength="ngModel"
            required />
        <span class="error-field" *ngIf="palateLength.invalid && palateLength.touched">Please enter valid palate length</span>
    </div>
    </div>
    </div>
    <div class="col-md-12">
      <div class="row mt-15">
        <div class="col-sm-4">
            <label for="packWeight" class=" col-form-label text-right">Weight (lb)<span class="red-astrik">*</span></label>
            <input 
                type="number" 
                class="form-control" 
                id="packWeight" 
                value="1"
                [(ngModel)]="packWeight" 
                #palateWeight="ngModel"
                required />
            <span class="error-field" *ngIf="palateWeight.invalid && palateWeight.touched">Please enter valid palate weight</span>
        </div>
      </div>
    </div>
</div>

<div class="order-items form-content">
    <h4>Order Line Items</h4>
    <table class="table table-bordered order-list">
        <thead>
          <tr>
            <th scope="col">SKU</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col" colspan="2">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <input 
                    type="text" 
                    class="form-control"
                    id="sku"
                    name="sku" 
                    [(ngModel)]="sku"
                    #skuNo="ngModel"
                     />
                <!-- <div class="error-field" 
                        *ngIf="skuNo.invalid && (skuNo.dirty || skuNo.touched)">
                        <span *ngIf="skuNo.errors.required">Required</span>
                        <span *ngIf="skuNo.errors.invalid">Required</span>
                </div> -->
                <!-- <span class="error-field" *ngIf="skuNo.touched && skuNo.invalid">Enter Valid SKU</span> -->
            </td>
            <td>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name"
                    name="name" 
                    [(ngModel)]="name"
                    #packageName="ngModel"
                     />
                <!-- <span class="error-field" *ngIf="packageName.invalid && packageName.touched">Enter valid Name</span> -->
                <!-- <span class="error-field" *ngIf="packageName.touched">Enter Name</span> -->
            </td>
            <td>
                <input 
                    type="number" 
                    class="form-control"
                    id="quantity"
                    name="quantity" 
                    [(ngModel)]="quantity" 
                    #packQuantity="ngModel"
                     />
                <!-- <span class="error-field" *ngIf="packQuantity.invalid && packQuantity.touched">Enter valid quantity</span> -->
                <!-- <span class="error-field" *ngIf="packQuantity.touched">Enter quantity</span> -->
            </td>
            <td class="input-group">
                <input 
                    type="number" 
                    class="form-control"
                    id="price"
                    name="price" 
                    value="0" 
                    [(ngModel)]="price"
                    #prodPrice="ngModel"
                     />
                <!-- <span class="error-field" *ngIf="prodPrice.invalid && prodPrice.touched">Enter valid price</span> -->
                <!-- <span class="error-field" *ngIf="prodPrice.touched">Enter the price</span>  -->
            </td>
            <td class="col-sm-2"><a class="deleteRow"></a></td>
          </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <button type="button" class="btn btn-primary" id="addrow">+ Add a Line item</button>
                </td>
            </tr>
            <tr>
            </tr>
        </tfoot>
      </table>
</div>
<div class="submit-order form-content text-right">
    <button type="button" class="btn btn-secondary mx-5" id="cancelOrder">Cancel</button>
    <button type="submit" class="btn btn-primary mx-5" [disabled]="shipmentForm.invalid">Get Rates</button> <!-- routerLink="/shipment-details" -->
  </div>
</form>
<!-- <p>Value : {{shipment | json}}</p> -->
</div>
<div class="row">
    <div class="col-md-12">
        <div [hidden]="!loading" class="loader text-center">
            <span></span>
            <h4>Loading...</h4>
        </div>
        <app-delivery-shipment-details *ngIf="showQuotes"></app-delivery-shipment-details>
    </div>
</div>

