/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* New Shipment Page */
.wrapper {border: 1px solid #000; margin: 40px 0;}
.form-content {padding: 15px 30px;}
.order-summary-wrapper {background-color: #f6f6f6;}
.form-wrapper h4 {margin-bottom: 30px; font-size: 14px; font-weight: 700;color: #565656;}
.form-wrapper .form-group label {color: #656565; font-weight: normal;}
.form-wrapper .addr-2 {margin-top: 15px;}
.order-items {border-top: 1px solid #656565;}
.order-items thead th {background-color: #eef8fd;}
.order-box-prechecked {margin-top: 15px; margin-left: 10px;}
.submit-order .btn {margin: 0 5px;}

/* Shipment Order detaild Page */
.order-details-tab > li .active > a, 
.order-details-tab .tab-pane {background-color: #f6f6f6;}