/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f9f9f9;}

/* Common style */
.form-control {border-radius: 2px;}
h5 {font-weight: 700;}
.error-field {color: #FF0000; font-size: 12px;}
.mt-15 {margin-top: 15px;}


/* Errror message */
.red-astrik {color: red;}
.errormsg {margin: 15px 0;}

/* Login Page */
.login-form {width: 340px; margin: 150px auto;}
.login-form form {background: #f7f7f7; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); padding: 30px;margin-bottom: 15px;}
/* .remember-me {margin: 8px 0 0 12px;} */

/* Header */
.logo {background: url('./assets/images/SG-Logo-half.png'); display: inline-block; margin: 15px 0 0; text-decoration: none; font-size: 26px; font-weight: bold;}
.logo:hover {text-decoration: none;}
.logo img {width: 3rem; height: 4rem;margin-right: 15px; margin-top: -15px;}
.img-profile {width: 60px; height: 60px;}

/* Sidebar navigation */
.sidebar {float: left;}
.sidebar-nav {padding-top: 33px; position: relative;}
.sidebar-nav li {border: 1px solid transparent; border-top-color: rgba(0, 0, 0, 0.05); border-right: 0;position: relative; right: -1px;}
.sidebar-nav li a.active {border: 1px solid #ccc; border-right: 0; box-shadow: 1px 0 #fff; z-index: 2; position: relative;background: #fff;}
.sidebar-nav ul li a {padding: 10px 13px; font-size: 17px; line-height: 24px; text-decoration: none; text-shadow: 0 2x #fff; display: block; color: #999; font-size: 14px;}
.sidebar-nav ul li.active a.active {background: #fff; color: #000;}
.sidebar-nav ul li a::after {content: " "; display: inline-block; position: absolute; right: 10px; top: 25%; background-position: -3px -192px; width: 10px; height: 18px; cursor: pointer;background-image: url("./assets/images/icons8-more-than.png")}
.sidebar-nav ul li a.active::after {background-image: url('./assets/images/icons8-more-than-active.png')}
.sidebar {height: 123vh;}
.sidebar-dark .nav-item .nav-link.active {font-weight: 700;color: #fff;}
.sidebar-dark .nav-item .nav-link.active i, .sidebar-dark .nav-item .nav-link.active::after {color: #fff;}
.sidebar-dark .nav-item .nav-link::after { width: 1rem; text-align: center; float: right; vertical-align: 0; border: 0; font-weight: 900; content: '\f105'; font-family: 'Font Awesome 5 Free'; color: rgba(255,255,255,.5)}

/* Profile details */
.content-wrapper {border: 1px solid #ddd; background: #fff; box-shadow: -2px 0 2px #eee, 2px 0 2px #eee;padding: 30px;position: relative; left: -30px;}
.user-profile {position: relative;}
.user-profile h2 {font-weight: bold; margin-bottom: 10px; line-height: 30px; margin-top: 0;}
.user-info {margin-top: 40px;}
.user-info .user-data {margin-bottom: 15px;}
.user-info .user-data p {margin: 0; font-size: 13px;}
.user-info .user-data p.field-label {font-weight: bold;float: left;}
.user-info .user-data p.field-value {font-weight: normal;}
.user-info .user-data button {font-size: 13px; line-height: 0; padding: 0 5px;}
.user-info .user-data .btn.focus, .user-info .user-data .btn:focus {box-shadow: none;}
.loader {margin: 40px 0;}
.loader span{background: url('./assets/images/loading.gif') no-repeat center; height: 48px; width: 48px; display: inline-block;}
.loader h4 {margin-top: 0;}
.edit-profile button {margin: 0 5px;font-size: 12px; padding: 5px 10px; line-height: 14px; width: 4rem;}

/* New Shipment Page */
.wrapper {margin: 40px 0;}
/* .form-content {padding: 15px 30px;} */
.form-wrapper h4 {margin-bottom: 30px; font-size: 14px; font-weight: 700;color: #565656;}
.form-wrapper .form-group label {color: #656565; font-weight: normal;}
.form-wrapper .addr-2 {margin-top: 15px;}
.order-items {padding: 10px 0;}
.order-items thead th {border-left: 1px solid #e3e6f0; border-bottom: 1px solid #e3e6f0 !important; background: #f8f9fc;font-size: 14px;}
.order-items thead th:first-child {border-left: none;}
.order-box-prechecked {margin-top: 15px; margin-left: 10px;}
.submit-order .btn {margin: 0 5px;}
.line-items {border: 1px solid #e3e6f0; border-radius: .35rem;}
.line-items tr {border-bottom: 1px solid #e3e6f0;}
.line-items tbody tr td {border: none; border-left: 1px solid #e3e6f0;}


.col-form-label, .form-control {font-size: 14px !important;}
.btn-icon-split .text {padding: 0.475rem .75rem !important; font-size: 14px;}

/* Shipment Order detaild Page */
#order-details {padding: 10px 20px; background-color: #f6f6f6;border: 1px solid #ccc; border-top: none;}
.order-details-tab>li>a {background-color: #f6f6f6;}
.order-details-tab>li.active>a,.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.order-details-tab>li.active>a,.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { border-bottom: none; background-color: #f6f6f6; }
.ship-detail-wrapper {border: 1px solid #ccc; padding: 10px;}
.ship-detail-wrapper {background: #ffffff;}
.reciept-addr-check ul li {display: inline-block; padding: 0 5px;}
.reciept-addr-check ul li a:hover {text-decoration: none;}
.title-txt {color: #999; margin-bottom: 5px;}
.txt-bold {font-weight: 700;}
.show-address p {margin-bottom: 5px;}
.logo-content {width: 40px; height: 40px;display: inline-block;}
.logistic-name {display: inline-block; margin-left: 10px;}
.logo-content img {width: 100%;}
.info-wrapper {margin-bottom: 10px; display: inline-block; width: 100%; vertical-align: text-top;}

/* .order-lists {margin: 20px 0 0;} */
.order-lists ul {list-style: none; padding: 0;}
.order-lists ul li {border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;}
.order-lists .info-wrapper p {width: 50%; display: inline-block; vertical-align: top; font-size: 13px;margin-bottom: 0;}
.order-lists .info-wrapper p.txt-label {font-weight: 700;}
.order-lists .price {color: #337ab7; font-weight: 700; font-size: 22px;}

.trackcheck {background: url('./assets/images/track-check.png'); width: 25px; height: 30px;display: inline-block; vertical-align: top;}
.trackuncheck {background: url('./assets/images/track-uncheck.png');  width: 25px; height: 30px;display: inline-block; vertical-align: top;}

/* table css */
body .ui-table .ui-table-thead > tr > th {background: #fff !important; width: 0%; text-align: center !important; color: #858796 !important; font-size: 13px; padding: 1em 0.4em !important; border: 1px solid #e3e6f0;}
body .ui-table .ui-table-caption {float: left; width: 100%; border: none !important;}
.pi-sort:before, .pi-sort-up:before, .pi-sort-down:before {color: #858796 !important;}
body .ui-table .ui-sortable-column:focus {box-shadow: none !important;}
body .ui-table .ui-table-tbody > tr > td {vertical-align: middle; border: none !important;}
body .ui-table-customers .ui-paginator {border: none; padding: 1rem;}
body .ui-table-customers .ui-paginator .ui-dropdown {float: left; border: 1px solid #c8c8c8; height: auto;}
body .ui-table-customers .ui-paginator .ui-paginator-current {float: right;}
.table-title {float: left; font-weight: 700;margin-top: 10px;}

.search-filter {float: right; margin: 8px 0;}
.table.table-dark {width: 100%; margin-bottom: 1rem; color: #212529;}
.thead-dark {background: #000 !important;}
.table.table-dark thead.thead-dark th {vertical-align: bottom; border-bottom: 2px solid #dee2e6; padding: 16px 12px; color: #fff;display: table-cell;text-align: center;}
.table.table-dark td {padding: .75rem; padding-top: 1.1rem; padding-bottom: 1rem; vertical-align: top; border-bottom: 1px solid #dee2e6;font-size: 12px; text-align: center;line-height: 32px;}
.table.table-dark td.text-left {text-align: left;}
.table.table-dark td.logis-name span {display: inline-block; vertical-align: middle;}
.table.table-dark td span.logis-name {position: relative; left: 10px;}
.table.table-dark td span.logis-img {width: 40px; height: 40px;}
.table.table-dark td span.logis-img img {width: 100%;}

/* Confirmation page css*/
.page-title {font-size: 2.6em; color: #999;font-weight: 100; padding: 0; letter-spacing: .4px; text-align: center; margin: 0; padding: 3px 0 0 0;}
.separator {border-top: 1px solid rgba(0,0,0,0.075); width: 100%; display: block; margin: 10px 0;}
.confirm-wrapper {margin: 15px 0;background: #6394ce; background-image: linear-gradient(#6394ce,#395fa2); text-align: center;color: #fff;padding: 15px 0;}
.confirm-content {margin: 10px 0;}
.summary-title {font-size: 22px; font-weight: 700;margin: 15px 0;}
.space-content{margin: 15px 0;}
.label-field {font-weight: 600; font-size: 14px;}
.value-field {font-size: 14px;}
/* .button-wrapper{margin: 80px 0 0;} */
.button-wrapper .btn {margin: 10px 10px 0 0;}
/* .button-wrapper .btn-success {color: #fff; background-color: #28a745; border-color: #28a745} */


/* Media Queries CSS Starts */
@media (max-width: 767px) {
    .sidebar-dark .nav-item .nav-link::after {display: none;}
    .img-profile {width: 2rem; height: 2rem;}
    .logo {font-size: 16px;}
    .logo img {width: 2rem; height: 3rem;margin-top: -10px; margin-right: 5px;}
    .sidebar .sidebar-brand .sidebar-brand-text {display: block !important; font-size: 0.85rem;}
    #sidebarToggleTop {padding: 0;}
}

@media (max-width: 479px) {
    .login-form {width: 100%;}
    .logo {font-size: 14px;}
    .logo img {width: 1.8rem; height: 2.8rem;}
}



/* Media Queries CSS Ends */