<div class="container" style="width: 960px; margin: 0 auto;">
    <h4>Recipient Information</h4>
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Paste US Address</mat-label>
            <mat-select>
              <mat-option >
                
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <input matInput placeholder="Company">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Address Line 1</mat-label>
          <input matInput placeholder="Address 1">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Address Line 2</mat-label>
          <input matInput placeholder="Address 2">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>city</mat-label>
          <input matInput placeholder="city">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <mat-label>Paste US Address</mat-label>
            <mat-select>
              <mat-option >
                
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>postal Code</mat-label>
            <input matInput placeholder="postal Code">
          </mat-form-field>

    </div>
      <div>
        <mat-form-field appearance="outline">
            <mat-label>United States</mat-label>
            <input matInput placeholder="postal Code">
          </mat-form-field>
    </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="Phone number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput placeholder="email">
        </mat-form-field>
    </div>
  </div>
