<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4"> -->
    <h1 class="h3 mb-0 text-gray-800">Order Receipt</h1>
<!-- </div> -->
<p class="mb-4 mt-3">
    Thank you for your order.
    We've received your order and will contact you as soon as your package is shipped. You can find your purchase information below.
</p>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Order Summary</h6>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="confirmRemove">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship ID :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsShipmentId}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship Name : </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.carrier_friendly_name}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship Date :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsShipDate | date}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Estimated Date : </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.estimated_delivery_date | date}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Service Code :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsServiceCode}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Price :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.shipping_currency | uppercase}} {{quotesData.shipping_amount | currency}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <h6 class="m-2 font-weight-bold text-primary">Sender Address</h6>
                                </div>
                                <div class="row">
                                    <p class="value-field mx-2">
                                        {{bookConfirmData.shipmentsShipFromAddressLine1}}<br/>
                                        {{bookConfirmData.shipmentsShipFromCityLocality}}<br/>
                                        {{bookConfirmData.shipmentsShipFromStateProvince}}<br/>
                                        {{bookConfirmData.shipmentsShipFromCountryCode}}<br/>
                                        {{bookConfirmData.shipmentsShipFromPostalCode}}<br/>
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <h6 class="m-2 font-weight-bold text-primary">Delivery Address</h6>
                                </div>
                                <div class="row">
                                    <p class="value-field mx-2">
                                        {{bookConfirmData.shipmentsShipToAddressLine1}}<br/>
                                        {{bookConfirmData.shipmentsShipToCityLocality}}<br/>
                                        {{bookConfirmData.shipmentsShipToStateProvince}}<br/>
                                        {{bookConfirmData.shipmentsShipToCountryCode}}<br/>
                                        {{bookConfirmData.shipmentsShipToPostalCode}}<br/>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="button-wrapper">
                            <button class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                  </span>
                                  <a (click)="goCreateShipment()"><span class="text">Make a new Shipment</span></a>
                                </button>
                                <button class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                      </span>
                                    <a (click)="modifyShipment()">  
                                        <span class="text">Modify Shipment</span>
                                    </a>
                                </button>
                            <button class="btn btn-secondary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                  </span>
                                  <a (click)="deleteShipment()">
                                    <span class="text">Cancel Shipment</span>
                                  </a>
                            </button>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Error message popup Modal -->
<div *ngIf="confirmCancel" class="error-popup modal" id="myModal" role="dialog">
    <div class="overlay"></div>
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="closePopup()">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the order?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)=yesConfirmOrder(bookConfirmData)>Yes</button>
            <button type="button" class="btn btn-secondary" (click)=noConfirmOrder()>No</button>
          </div>
      </div>
    </div>
  </div>
