<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4"> -->
    <h1 class="h3 mb-0 text-gray-800">Order Receipt</h1>
<!-- </div> -->
<p class="mb-4 mt-3">
    Thank you for your order.
    We've received your order and will contact you as soon as your package is shipped. You can find your purchase information below.
</p>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Order Summary</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship ID :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsShipmentId}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship Name : </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.carrier_friendly_name}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Ship Date :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsShipDate | date}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Estimated Date : </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.estimated_delivery_date | date}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Service Code :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{bookConfirmData.shipmentsServiceCode}}</span>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="label-field">Price :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="value-field">{{quotesData.shipping_currency | uppercase}} {{quotesData.shipping_amount | currency}}</span>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <h6 class="m-2 font-weight-bold text-primary">Sender Address</h6>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="value-field">
                                            {{bookConfirmData.shipmentsShipFromAddressLine1}}<br/>
                                            {{bookConfirmData.shipmentsShipFromCityLocality}}<br/>
                                            {{bookConfirmData.shipmentsShipFromStateProvince}}<br/>
                                            {{bookConfirmData.shipmentsShipFromCountryCode}}<br/>
                                            {{bookConfirmData.shipmentsShipFromPostalCode}}<br/>
                                        </p>
                                        <div class="edit-sender-addr" [hidden]="editAddress">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifypickupAddr" 
                                                    name="modifypickupAddr"
                                                    placeholder="pickup address" 
                                                    formControlName = "modifypickupAddr"
                                                    pattern="^[a-zA-Z0-9\s,'-.]*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifypickupCity" 
                                                    name="modifypickupCity"
                                                    placeholder="city" 
                                                    formControlName = "modifypickupCity"
                                                    pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="modifypickupState"
                                                    name="modifypickupState"
                                                    placeholder="state" 
                                                    formControlName="modifypickupState"
                                                    minlength="2"
                                                    maxlength="2"
                                                    required />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifypickupCountry" 
                                                    name="modifypickupCountry"
                                                    placeholder="Country" 
                                                    formControlName = "modifypickupCountry"
                                                    pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifypickupZip" 
                                                    name="modifypickupZip"
                                                    placeholder="zipcode" 
                                                    formControlName = "modifypickupZip" 
                                                    pattern="(^\d{5}$)|(^\d{5}-\d{4}$)"
                                                    required/>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 space-content">
                                <div class="row">
                                    <h6 class="m-2 font-weight-bold text-primary">Delivery Address</h6>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="value-field">
                                            {{bookConfirmData.shipmentsShipToAddressLine1}}<br/>
                                            {{bookConfirmData.shipmentsShipToCityLocality}}<br/>
                                            {{bookConfirmData.shipmentsShipToStateProvince}}<br/>
                                            {{bookConfirmData.shipmentsShipToCountryCode}}<br/>
                                            {{bookConfirmData.shipmentsShipToPostalCode}}<br/>
                                        </p>
                                        <div class="edit-deliver-addr" [hidden]="editAddress">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifydropAddr" 
                                                    name="modifydropAddr"
                                                    placeholder="Drop address" 
                                                    formControlName = "modifydropAddr"
                                                    pattern="^[a-zA-Z0-9\s,'-.]*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifydropCity" 
                                                    name="modifydropCity"
                                                    placeholder="city" 
                                                    formControlName = "modifydropCity"
                                                    pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input
                                                    type="text"
                                                    class="form-control"
                                                    id="modifydropState"
                                                    name="modifydropState"
                                                    placeholder="state" 
                                                    formControlName="modifypickupState"
                                                    minlength="2"
                                                    maxlength="2"
                                                    required />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifydropCountry" 
                                                    name="modifydropCountry"
                                                    placeholder="Country" 
                                                    formControlName = "modifydropCountry"
                                                    pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$"
                                                    required/>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="modifydropZip" 
                                                    name="modifydropZip"
                                                    placeholder="zipcode" 
                                                    formControlName = "modifydropZip" 
                                                    pattern="(^\d{5}$)|(^\d{5}-\d{4}$)"
                                                    required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="button-wrapper">
                            <button class="btn btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                  </span>
                                  <a (click)="goCreateShipment()"><span class="text">Make a new Shipment</span></a>
                                </button>
                                <button class="btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                      </span>
                                    <a (click)="modifyShipment(bookConfirmData)">  
                                        <span class="text">Modify Shipment</span>
                                    </a>
                                </button>
                            <button class="btn btn-secondary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                                  </span>
                                <span class="text">Cancel Shipment</span>
                            </button>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
