<div class="row">
    <div class="col-md-3">
      <nav class="navbar sidebar-nav">
        <ul class="nav flex-column">
            <li class="nav-item active">
              <a class="nav-link active" [routerLink]="['profile']">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['create-shipment']">Book Shipment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['shipment-details']">Track Shipment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['cancel-shipment']">Cancel Shipment</a>
            </li>
          </ul>
    </nav>

    </div>
    <div class="col-md-8">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>  
    </div>
</div>
