<!-- <div class="row"> -->
    <!-- <div class="col-md-2">
      <app-sidebar-navigation></app-sidebar-navigation>
    </div>
    <div class="col-md-10">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>  
    </div> -->
<!-- </div> -->

<app-sidebar-navigation></app-sidebar-navigation>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <app-header></app-header>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
