<div class="col-md-8">
    <div class="row">
        <div class="col-md-12">
            <h3>User Information</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            

        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <p class="field-label">Customer Type</p>
                    <p class="field-value">Individual</p>
                </div>
                <div class="col-md-4">
                    <p class="field-label">Status</p>
                    <p class="field-value">Social</p>
                </div>
                <div class="col-md-4">
                    <p class="field-label">Username</p>
                    <p class="field-value">amorrise</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="field-label">Primary Phone</p>
                    <p class="field-value">(800) 559-4776</p>
                </div>
                <div class="col-md-4">
                    <p class="field-label">Email</p>
                    <p class="field-value">support@simnang.com</p>
                </div>
                <div class="col-md-4">
                    <p class="field-label">Primary Address</p>
                    <p class="field-value">3718 ECCLES AVE<br/> OGDEN UT 84403-2018 USA</p>
                </div>
            </div>
        </div>
    
    </div>
</div>