<div class="ship-detail-wrapper">
    <div class="row">
        <div class="col-md-10">
            <h5>Recipient Summanry</h5>
        </div>
        <!-- <div class="col-md-2">
            <a href="#">Edit</a>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <p class="title-txt">Ship To</p>
        </div>
        <div class="col-md-4">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="txt-bold">Reciever</p>
        </div>
        <div class="col-md-12 show-address">
            <p>{{dataService.postData.shipTo.toAddress}}</p>
            <p>{{dataService.postData.shipTo.toCity}}, {{dataService.postData.shipTo.toCountry}}</p>
            <p>{{dataService.postData.shipTo.toZipcode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Contact No.</p>
        </div>
        <div class="col-md-4">
            <p>{{dataService.postData.shipTo.toPhone}}</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <p>ANC</p>
        </div>
        <div class="col-md-4">
            <p></p>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-8">
            <p>231 E THEODORE LN ITASCA, IL 60143-2816 US</p>
        </div>
        <div class="col-md-4">
            <p></p>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-12 reciept-addr-check">
            <ul>
                <li><a>Address Validated</a></li>
                <li><a>Revert to Original</a></li>
            </ul>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <a href="#.">{{dataService.postData.carrierId}}</a>
        </div>
    </div> -->
    
</div>
