<div class="ship-detail-wrapper">
    <div class="row">
        <div class="col-md-10">
            <h5>Pickup Summary</h5>
        </div>
        <!-- <div class="col-md-2">
            <a href="#">Edit</a>
        </div> -->
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="giftcheck">
                <label class="custom-control-label" for="giftcheck">This is a gift</label>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <p class="title-txt">Ship From</p>
        </div>
        <div class="col-md-12">
            <p class="txt-bold">Sender</p>
        </div>
        <div class="col-md-12 show-address">
            
            <p>{{dropSummary.fromAddress}}</p>
            <p>{{dropSummary.fromCity}}, {{dropSummary.fromCountry}}</p>
            <p>{{dropSummary.fromZipcode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Contact No.</p>
        </div>
        <div class="col-md-4">
            <p>{{dropSummary.fromPhone}}</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <p>Ship By</p>
        </div>
        <div class="col-md-4">
            <p>-</p>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-8">
            <p>Hold Until</p>
        </div>
        <div class="col-md-4">
            <p>-</p>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-8">
            <p>Order Total</p>
        </div>
        <div class="col-md-4">
            <p>$10.00</p>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <a href="#.">Show Amounts Paid</a>
        </div>
    </div> -->
</div>
